{% load generic %}

<form
  {% if form|hasattrib:"method" and form.method|lower != "get" %}method="{{ form.method|lower }}"{% endif %}
  {% if form|hasattrib:"action" %}action="{{ form.action }}"{% endif %}
  {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}
  class="form-search">

  {% if form|hasattrib:"method" and form.method|lower == "post" %}
    {% csrf_token %}
  {% endif %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
  <label for="{{ field.id_for_label }}" class="{{ label_class }}">
    {{ field.label }}
    {% if field.field.required %}<span class="asterisk">*</span>{% endif %}
  </label>

  {{ field }}

  {% if field.errors %}
    <ol>
    {% for error in field.errors %}
      <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
  {% endif %}
  {% endfor %}

  <button type="submit" class="btn btn-primary">
    {% trans 'Submit' %}
  </button>
  <input type="reset" class="btn" />
</form>
